streamlit==1.25.0  # Ensure it's the version you're using
scikit-learn==1.2.2  # For CountVectorizer and model prediction
pandas==2.0.3  # For handling CSV files
numpy==1.25.2  # Required by scikit-learn
